/* =======Design Tokens ======= */
:root {
    /* colors */
    --color-navy: #1A1E4D;
    --color-blue: #00AEEF;
    --color-green: #26D0A9;
    --color-black: #212529;
    --color-gray: #6c757d;
    --color-gray-light: #E9ECEF;
    --color-bg: #F8F9FA;
    --color-white: #FFFFFF;

      /* 제가 추가한 내용 -김동하- */
    --color-gray-dark : #334155;
    --color-gray-silver : #d9dee5;
    --color-gray-light2 :  #adb5bd;
    --color-blue2 : #1e4db7;
    --color-blue-sky : #d7e7ff;
    --color-pink-pale : #ffe9e9;
    --color-red-dark : #c13232;
    --color-pink-peach : #ffd1d1;
    --color-white-pale : #fff7e6;
    --color-brown : #9b6b00;
    --color-yellow-light : #ffe9bf;
    --color-blue-indigo : #4356b5;
    --color-blue-pale : #e1e8ff;
    --color-green-mint : #e8faf0;
    --color-green2 : #1f7a46;
    --color-green-light : #c7f0d7;
    --color-red : #dc2626;
    --color-blue-bright: #2563eb;
    --color-blue-light: #93c5fd;
    --color-navy-deep : #1A2E4D;
    --color-blue-glow : rgba(0,174,239,.35);


    /* Typography */
    --font-sans: 'Noto Sans KR', system-ui, -apple-system, Segoe UI, roboto, Helvetica, Arial, 'Apple SD Gothic Neo', 'Malun Gothic', sans-derif;
    --fs-xxl: 40px;     /* 히어로 타이틀 */
    --fe-xl: 28px;      /* 섹션 타이틀 */
    --fs-lg: 20px;      /* 카드 타이틀 */
    --fs-md: 16px;      /* 본문 기본 */
    --fs-sm: 14px;      /* 설명/보조 */

    /* Spacing */
    --sp-1: 8px;
    --sp-2: 12px;
    --sp-3: 16px;
    --sp-4: 20px;
    --sp-5: 24px;
    --sp-6: 32px;
    --sp-7: 40px;
    --sp-8: 48px;

    /* Radius */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;

    /* Elevation (shadow) */
    --shadow-sm: 0 1px 3px rgba(0,0,0, .06);
    --shadow-md: 0 4px 12px rgba(0,0,0, .08);
    --shadow-lg: 0 10px 28px rgba(0,0,0, .12);

    /* Component Tokens */
    --btn-height: 40px;
    --input-height: 44px;
    --container-max: 1100px;
}

/*  ======= Global Base ======= */
html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    color: var(--color-black);
    background: var(--color-bg);
    font-family: var(--font-sans), serif;
    font-size: var(--fs-md);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* Utility */
.container {
    max-width: var(--container-max);
    margin: 0 auto;
    padding: 0 var(--sp-4);
}
.text-muted { color: var(--color-gray); }
.btn {
    height: var(--btn-height);
    padding: 0 var(--sp-3);
    border-radius: 999px;
    border: 1px solid transparent;
    background: var(--color-white);
    cursor: pointer;
}
.btn-primary {
    background: var(--color-green);
    color: var(--color-white);
}
.btn-outline {
    border-color: var(--color-blue);
    color: var(--color-blue);
    background: var(--color-white);
}
.card {
    background: var(--color-white);
    border: 1px solid #E9ECEF;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-md);
}
